<header>
    <img class="page_img" src="img/icon.png">
    <h1>Corona App NEW</h1>
    <% if (locals.title && title !== "")
    { %>
        <a href="/">Back to Homepage</a>
    <% } else { %>
        <a href="israel">Show Israel Covid-19 data</a>
        <a href="worldwide">Show Worldwide Covid-19 data</a>
    <% } %>

</header>